@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

// COLORS
$color-black: #2a2a2a;
// $color-gray: #878787;
// $color-gray-dark: #444;
$color-gray-light: #edeef2;
$color-gray-medium: #3f3f3f;
// $color-green-light: #cad8b6;
// $color-green: #7cb22f;
$color-red: #e7412d;
// $color-red-light: #ff5922;
$color-shadow: #d9d9dd;
$color-white: #fff;
// $color-yellow: #f1c000;
// $color-modal: rgba(51, 51, 51, 0.7);

// FONTS
$font-bold: 'TitilliumWeb-Bold';
$font-light: 'TitilliumWeb-Light';
$font-regular: 'TitilliumWeb-Regular';
$font-Thin: 'TitilliumWeb-Thin';
$font-lato-hairline: 'Lato-Hairline';
$font-lato-light: 'Lato-Light';

// RESET
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  background-color: $color-black;
  font-size: 62.5%;
  font-weight: 400;
}

body {
  color: $color-white;
  font-family: $font-regular;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

footer,
main,
section {
  display: block;
  width: 100%;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 108rem;
  padding: 6rem 1.5rem;
  position: relative;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 3rem 1.5rem;
  }
}

// TYPOGRAPHY
h1,
h2 {
  display: block;
  font-family: $font-bold;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3rem;
  position: relative;

  strong {
    font-weight: 700;
  }
}

h1 {
  font-size: 4.2rem;
  line-height: 3.6rem;
}

h4 {
  color: $color-black;
  display: block;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  margin: 2rem 0;
  text-align: center;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;

  strong {
    font-weight: 700;
  }
}

small {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
}

// TOP
#top {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  img {
    @media screen and (max-width: 768px) {
      width: 70%;
    }
  }

  h1,
  h2 {
    font-size: 7rem;

    @media screen and (max-width: 768px) {
      font-size: 5rem;
    }
  }

  h1 {
    display: block;
    font-family: 'Army';
    margin-top: 5rem;
    text-align: center;
    width: 100%;
  }

  h2 {
    color: $color-red;
    display: block;
    font-family: 'Hurricane', cursive;
    font-weight: bold;
    letter-spacing: 6px;
    text-align: center;
    text-shadow: 0 0 8px #272727;
    width: 100%;
  }

  a {
    background-color: $color-red;
    border-radius: 1rem;
    color: $color-white;
    display: block;
    font-family: $font-bold;
    font-size: 1.8rem;
    height: 4.2rem;
    line-height: 4.2rem;
    padding: 0 1.5rem;
    position: absolute;
    right: 4rem;
    text-transform: uppercase;
    top: 4rem;
  }
}

#download {
  background-color: $color-white;

  h2 {
    color: $color-black;
    text-align: center;
    width: 100%;

    strong {
      color: $color-red;
    }
  }

  .devices {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      display: block;
      margin: 2rem;
      width: 40%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      img {
        display: block;
        margin: 1rem auto 0;
      }

      .device {
        height: 50vh;
      }

      .badge {
        width: 50%;
      }
    }
  }
}

#faq {
  background-color: $color-gray-medium;

  .content {
    align-items: center;
  }

  h2 {
    strong {
      color: $color-red;
    }

    &:before {
      margin: 0 auto 1rem;
    }
  }

  .faq {
    display: block;
    width: 100%;

    .item {
      background-color: $color-white;
      border: 1px solid $color-shadow;
      border-radius: 1rem;
      cursor: pointer;
      margin-top: 2rem;
      padding: 1.5rem;
      width: 100%;

      input {
        display: none;
      }

      label {
        align-items: center;
        color: $color-black;
        cursor: pointer;
        display: flex;
        font-size: 1.8rem;
        justify-content: space-between;
        line-height: 3.5rem;

        &:after {
          background: url(../images/icon-arrow.png);
          content: '';
          display: block;
          height: 2.4rem;
          width: 2.4rem;
        }
      }

      .item-content {
        color: $color-gray-medium;
        font-family: $font-light;
        line-height: 2rem;
        overflow: hidden;
        max-height: 0;
        transition: all 0.35s;
      }

      input:checked {
        + label {
          &::after {
            transform: rotate(180deg);
          }
        }
        ~ .item-content {
          max-height: 100vh;
          padding: 1.2rem 0 0;
        }
      }
    }
  }
}

footer {
  .content {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    p {
      display: block;
      text-align: center;
      width: 100%;
    }

    .social {
      display: flex;

      a {
        color: white;
        display: block;
        height: 3.5rem;
        margin-left: 1.5rem;
        transition: all linear 0.2s;
        width: 3.5rem;

        svg {
          height: 100%;
          width: 100%;
        }

        &:hover {
          color: $color-red;
        }
      }
    }
  }
}
